[submodule "crazyflie_filter_constant"]
	path = crazyflie_filter_constant
	url = https://github.com/ChenyuZhaoTHU/crazyflie_filter_constant
	branch = master
[submodule "crazyflie_firmware_constant_height"]
	path = crazyflie_firmware_constant_height
	url = https://github.com/ChenyuZhaoTHU/crazyflie_firmware_constant_height
	branch = master
[submodule "aideck-gap8-examples"]
	path = aideck-gap8-examples
	url = https://github.com/bitcraze/aideck-gap8-examples/
[submodule "aideck-gap8-inference"]
	path = aideck-gap8-inference
	url = https://github.com/ChenyuZhaoTHU/aideck-gap8-inference
